{% extends 'base.html.twig' %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block body %}
<h1 class="center titre">Modification utilisateur</h1>

<div class="checkbox">
	<input type="checkbox" id="modiffication" name="modiffication">
	<label for="modiffication">Modification</label>
</div>

<div class="form-app">
{{ form_start(form) }}

        <div class="name">{{ form_row(form.Nom , { 'attr': {'value': user.nom} }) }}</div>
        <div class="firstname">{{ form_row(form.Prenom, { 'attr': {'value': user.prenom} }) }}</div>
        {{ form_row(form.Username, { 'label': 'Pseudonyme', 'attr': {'value': user.username} }) }}
        <div class="email">{{ form_row(form.Email, { 'attr': {'value': user.email} }) }}</div>
     
        {% if role == 3 %}
           <div class="roles"> {{ form_row(form.Roles, {'label': 'Statut', 'value': "ROLE_SUPERADMIN" } ) }}</div>
        {% endif %}
        {% if role == 2 %}
           <div class="roles"> {{ form_row(form.Roles, {'label': 'Statut', 'value': "ROLE_ADMIN" } ) }}</div>
        {% endif %}
           <div class="roles">{{ form_row(form.Roles, { 'label': 'Statut'}) }}</div>
		<button type="submit" class="btn btn-success register-admin">Enregistrer les modifications</button>
		<a href="{{ path('security_DeleteUser', {'id' : user.id}) }}"><button  class="suppr-admin btn btn-danger">Suppression de l'utilisateur</button></a>
		
    {{ form_end(form) }}
    
</div>
{% endblock %}

{% block javascripts %}
<script>
window.onload = function()
{
	var i;
	function Modiffication(){
		
		for(i = 1 ; i < 5 ; i++){
			if (champs[i].disabled == true)
			{
				champs[i].disabled = false;
				select[0].disabled = false;
			}else {
				champs[i].disabled = true;
				select[0].disabled = true;
			}
		}

	}

	
	var Modif = document.getElementById('modiffication');
	var champs = document.querySelectorAll("input");
	var select = document.querySelectorAll("select");

	Modiffication();
	
	Modif.addEventListener("change", Modiffication); 

	
}
</script>
{% endblock %}