{% extends 'base.html.twig' %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block body %}
<h1 class="center">Modification utilisateur</h1>

<input type="checkbox" id="modiffication" name="modiffication">
<label for="modiffication">Modiffication</label>
<div class="form-app">
{{ form_start(form) }}

        {{ form_row(form.Nom , { 'attr': {'value': user.nom} }) }}
        {{ form_row(form.Prenom, { 'attr': {'value': user.prenom} }) }}
        {{ form_row(form.Username, { 'label': 'Pseudonyme', 'attr': {'value': user.username} }) }}
        {{ form_row(form.Email, { 'attr': {'value': user.email} }) }}
     
        {% if role == 3 %}
            {{ form_row(form.Roles, {'label': 'Statut', 'value': "ROLE_SUPERADMIN" } ) }}
        {% endif %}
        {% if role == 2 %}
            {{ form_row(form.Roles, {'label': 'Statut', 'value': "ROLE_ADMIN" } ) }}
        {% endif %}
            {{ form_row(form.Roles, { 'label': 'Statut'}) }}
		<button type="submit" class="btn btn-success">Enregistrer les modifications</button>
		
		
    {{ form_end(form) }}
    <a href="{{ path('security_DeleteUser', {'id' : user.id}) }}"><button  class="btn btn-danger">Suppression de l'utilisateur</button></a>
</div>
{% endblock %}

{% block javascripts %}
<script>
window.onload = function()
{
	var i;
	function Modiffication(){
		
		for(i = 1 ; i < 5 ; i++){
			if (champs[i].disabled == true)
			{
				champs[i].disabled = false;
				select[0].disabled = false;
			}else {
				champs[i].disabled = true;
				select[0].disabled = true;
			}
		}

	}

	
	var Modif = document.getElementById('modiffication');
	var champs = document.querySelectorAll("input");
	var select = document.querySelectorAll("select");

	Modiffication();
	
	Modif.addEventListener("change", Modiffication); 

	
}
</script>
{% endblock %}