{% extends 'base.html.twig' %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block body %}
<h1 class="center">Modification utilisateur</h1>

<div class="form-app">
{{ form_start(form) }}

        {{ form_row(form.Nom , { 'attr': {'value': user.nom} }) }}
        {{ form_row(form.Prenom, { 'attr': {'value': user.prenom} }) }}
        {{ form_row(form.Username, { 'label': 'Pseudonyme', 'attr': {'value': user.username} }) }}
        {{ form_row(form.Email, { 'attr': {'value': user.email} }) }}
     
        {% if role == 3 %}
            {{ form_row(form.Roles, {'value': "ROLE_SUPERADMIN" } ) }}
        {% endif %}
        {% if role == 2 %}
            {{ form_row(form.Roles, {'value': "ROLE_ADMIN" } ) }}
        {% endif %}
            {{ form_row(form.Roles) }}
		<button type="submit" class="btn btn-success">Enregistrer les modifications</button>
    {{ form_end(form) }}
</div>
{% endblock %}