{% extends 'base.html.twig' %}

{% block body %}
{{ form_start(formUser) }}
	{{ form_row(formUser.Username) }}
	{{ form_row(formUser.Email) }}
 	{{ form_row(formUser.Roles) }}
	
	<button type="submit">Register!</button>
{{ form_end(formUser) }}
{% endblock %}