{% extends 'base.html.twig' %}
{% form_theme formUser 'bootstrap_4_layout.html.twig' %}

{% block body %}
{{ form_start(formUser) }}
    {{ form_row(formUser.Nom) }}
    {{ form_row(formUser.Prenom) }}
	{{ form_row(formUser.Username) }}
	{{ form_row(formUser.Email) }}
 	{{ form_row(formUser.Roles) }}
	
	<button type="submit">Register!</button>
{{ form_end(formUser) }}


	
{% endblock %}