{% extends 'base.html.twig' %}

{% block body %}
{{ form_start(form) }}
	{{ form_row(form.Username) }}
	{{ form_row(form.Email) }}
	{{ form_row(form.Password) }}
	{{ form_row(form.Roles) }}
	{{ form_errors(form) }}
	
	<button type="submit">Register!</button>
{{ form_end(form) }}
{% endblock %}