{% extends 'base.html.twig' %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block titre %}
<h2 class="indicator">Sélection d'un patient</h2>
{% endblock %}

{% block body %}

<div>
    <div class="form-srch">
        {{ form_start(form) }}
        {{ form_widget(form) }}
        <button type="submit" class="btn btn-primary">valider!</button>
    {{ form_end(form) }}
    
    </div>
	<a href="{{ path('patientCreate')}}"  class="btn btn-success btn-lg btn-create btn-addpatient">Ajouter un patient</a>
</div>




<section class="patients">


	{% for Resultat in rechercheResultat %}
		{% if Resultat %}
		
			<div class="listes">
				<a href="{{ path('patient_show', {'id': Resultat.id}) }}">
					<button type="submit" class="btn btn-outline-primary btn-patient">
						{{ Resultat.nom}}
						{{ Resultat.prenom}}
						{{ Resultat.dateDeNaissance | date('d/m/Y')}}

					</button>
				</a>
			</div>
		{% endif %}
		{% else %}
			
		{% for patient in patients %}
			<div class="listes">
				<a href="{{ path('patient_show', {'id': patient.id}) }}">
					<button type="submit" class="btn btn-outline-primary btn-patient">
						{{ patient.nom}}
						{{ patient.prenom}}
						{{ patient.dateDeNaissance | date('d/m/Y')}}

					</button>
				</a>
			</div>
		
		{% endfor %}

	{% endfor %}


	{# {% for patient in patients %}
	<div class="listes">
		<a href="{{ path('patient_show', {'id': patient.id}) }}">
			<button type="submit" class="btn btn-outline-primary btn-patient">
				{{ patient.nom}}
				{{ patient.prenom}}
				{{ patient.dateDeNaissance | date('d/m/Y')}}

			</button>
		</a>
	</div>
	{% endfor %} #}

</section>
{% block javascripts %}{% endblock %}
{% endblock %}
