{% extends 'base.html.twig' %}

{% block body %}
<section class="patients">
	<a href="{{ path('patientCreate')}}" class="btn btn-success btn-lg btn-create btn-addpatient">Ajouter un patient</a>
	
	{% for patient in patients %}
		<div class="metadata">
		<a href="{{ path('patient_show', {'id': patient.id}) }}">
			<button type="submit" class="btn btn-outline-primary btn-patient" >
			{{ patient.nom}}
			{{ patient.prenom}}
			{{ patient.birthdate | date('d/m/y')}}		{# Différent champ de la classe patient avec un formatage a l'aide d'un filtre #}			
			</button>
			</a>
		</div>
	{% endfor %}

</section>
{% endblock %}
