{% extends 'base.html.twig' %}

{% block titre %}
<h2 class="indicator">Sélection d'un patient</h2>
{% endblock %}

{% block body %}
<section class="patients">
	<a href="{{ path('patientCreate')}}"class="btn btn-success btn-lg btn-create btn-addpatient">Ajouter un patient</a>

	{% for patient in patients %}
	<div class="listes">
		<a href="{{ path('patient_show', {'id': patient.id}) }}">
			<button type="submit" class="btn btn-outline-primary btn-patient">
				{{ patient.nom}}
				{{ patient.prenom}}
				{{ patient.dateDeNaissance | date('d/m/Y')}}
				{# Différent champ de la classe patient avec un formatage a l'aide d'un filtre #}
			</button>
		</a>
	</div>
	{% endfor %}

</section>
{% block javascripts %}
<script>	
	var header = document.getElementById("change-active");
	var btns = document.body.querySelectorAll("li");
    btns[0].className = "nav-item change-item";
    btns[1].className = "nav-item active change-item"
</script>
{% endblock %}
{% endblock %}
