{% extends 'base.html.twig' %}
{% form_theme formBilan 'bootstrap_4_layout.html.twig' %}

{% block body %}
<div class="form-app">
	{% if editMode %}
	<h1 class="center">Modification d'un bilan!</h1>
	{% else %}
	<h1 class="center">Création d'un bilan!</h1>
	{% endif %}

	{{ form_start(formBilan) }}

	{{ form_row(formBilan.corrections) }}
	{{ form_row(formBilan.allC) }}
	{{ form_row(formBilan.optotypes) }}
	{{ form_row(formBilan.echelle) }}
	{{ form_row(formBilan.affichages) }}
	{{ form_row(formBilan.distance) }}
	{{ form_row(formBilan.allVL) }}
	<div>
		{{ form_row(formBilan.allVP, {'id' : 'Pavp'}) }}
		{{ form_row(formBilan.Rosano, {'id' : 'Ravp'}) }}
	</div>
	{{ form_row(formBilan.allPO) }}
	{{ form_row(formBilan.stereoscopique) }}
	{{ form_row(formBilan.couleurs) }}
	{{ form_row(formBilan.contrastes) }}
	{{ form_row(formBilan.accomodation) }}
	{{ form_row(formBilan.confrontation) }}
	{{ form_row(formBilan.fixation) }}
									

	<button type="submit" class="btn btn-success">
		{% if editMode %}
		Modifier le bilan
		{% else %}
		Ajouter un bilan
		{% endif %}
	</button>

	{{ form_end(formBilan) }}
</div>
{% endblock %}
