{% extends 'base.html.twig' %}
{% form_theme formBilan 'bootstrap_4_layout.html.twig' %}

{% block body %}
<div class="form-app">
	{% if editMode %}
	<h1 class="center titre">Modification d'un bilan!</h1>
	{% else %}
	<h1 class="center titre">Création d'un bilan!</h1>
	{% endif %}

	{{ form_start(formBilan) }}


	<div>
		<div id="correc">{{ form_row(formBilan.corrections) }}</div>
		<div id="od">{{ form_row(formBilan.allC, {'label' : 'OD'}) }}</div>
		<div id="og">{{ form_row(formBilan.OG, {'label' : 'OG'}) }}</div>
	</div>

	<div>
		<div>
			<div id="opto">{{ form_row(formBilan.optotypes) }}</div>
			<div id="echelle">{{ form_row(formBilan.echelle) }}</div>
		</div>
		<div>
			<div id="">{{ form_row(formBilan.affichages) }}</div>
			<div id="">{{ form_row(formBilan.distance) }}</div>
		</div>
	</div>


	{{ form_row(formBilan.allVL) }}

	<div>
		{{ form_row(formBilan.allVP, {'id' : 'Pavp'}) }}
		{{ form_row(formBilan.Rosano, {'id' : 'Ravp'}) }}
	</div>

	{{ form_row(formBilan.allPO) }}
	{{ form_row(formBilan.stereoscopique) }}
	{{ form_row(formBilan.couleurs) }}
	{{ form_row(formBilan.contrastes) }}
	{{ form_row(formBilan.accomodation) }}
	{{ form_row(formBilan.confrontation) }}
	{{ form_row(formBilan.fixation) }}
									

	<button type="submit" class="btn btn-success">
		{% if editMode %}
		Modifier le bilan
		{% else %}
		Ajouter un bilan
		{% endif %}
	</button>

	{{ form_end(formBilan) }}
</div>
{% endblock %}

{% block javascripts %}
<script>
window.onload = function()
{
	echelle = document.getElementById('echelle');
	Pavp = document.getElementById('Pavp');
	Ravp = document.getElementById('Ravp');
	Test();
	function Test(){
		if(echelle.value == 'Parinaud')
			{
				Pavp.style.display = 'inline-block';
				Ravp.style.display = 'none';
			}
		if(echelle.value == 'Rosano')
		{
			Pavp.style.display = 'none';
			Ravp.style.display = 'inline-block';
		}

	}
	echelle.addEventListener("change", Test); 
}
</script>
{% endblock %}
