{% extends 'base.html.twig' %}
{% form_theme formPatient 'bootstrap_4_layout.html.twig' %}

{% block body %}
<div class="form-app">
	{% if editMode %}
	<h1 class="center titre">Modification d'une fiche patient!</h1>
	{% else %}
	<h1 class="center titre">Création d'une fiche patient!</h1>
	{% endif %}

	{% set ant = "parents avec forte amétropie ou strabisme, hospitalisation néonatale, prématurité, poids de naissance < 1500g, séroconversion de la toxoplasmose pendant la grossesse, atteinte vasculaire, maladie rare" %}
	{% set auBilan = "Orthophonique, Psychomoteur, Psychométrique, Neuro-psychologique, d'Ergothérapue, Posturologique" %}

	{{ form_start(formPatient) }}
	{# Début du formulaire #}

	<div>
		<div id="name">{{ form_row(formPatient.nom, {'attr' : {'placeholder' : "Nom du patient"}}) }}</div>
		<div id="firstname">{{ form_row(formPatient.prenom, {'attr' : {'placeholder' : "Prénom du patient"}}) }}</div>
	</div>
	<div>
		<div id="birthdate">{{ form_row(formPatient.dateDeNaissance, {'attr' : {'placeholder' : "Date de naissance"}}) }}</div>
		<div id="address">{{ form_row(formPatient.adresse, {'attr' : {'placeholder' : "Adresse du patient"}}) }}</div>
	</div>
	<div>
		<div id="classe">{{ form_row(formPatient.classe)}}</div>
		<div id="optnClasse">{{ form_row(formPatient.optnClasse, {'attr' : {'placeholder' : "Détail de la classe"}, 'label' : "Autre options"}) }}</div>
	</div>
	<div>{{ form_row(formPatient.antecedent, {'value' : ant, 'label' : "Antécédent", 'attr': {'rows' : '8'}}) }}</div>
	<div>{{ form_row(formPatient.autreBilan, {'label' : "Autre(s) bilan(s) déjà effectué(s)", 'value' : auBilan, }) }}</div>
	<div>
		<div id="charge">{{ form_row(formPatient.charge, {'label' : "Prise en charge"}) }}</div>
		<div id="precision">{{ form_row(formPatient.precision, {'label' : "Précision"}) }}</div>
	</div>
	{{ form_row(formPatient.traitement, {'label' : "Traitement", 'attr': {'rows' : '4'}}) }}
	{{ form_row(formPatient.lateralite, {'label' : "Latéralité"}) }}
	{{ form_row(formPatient.textmotifs, {'label' : "Motif(s) de consultation" , 'id' : 'textmotif'}) }}
	{{ form_row(formPatient.motifs, {'label' : false , 'id' : 'motif', 'attr': {'rows' : '4'}}) }}

	<button type="submit" class="btn btn-success">
		{% if editMode %}
		Modifier la fiche patient
		{% else %}
		Ajouter une fiche patient
		{% endif %}
	</button>

	{{ form_end(formPatient) }}
	{# Fin du formulaire #}
</div>
{% endblock %}

{% block javascripts %}
<script>
window.onload = function()
{
	function Remplissage(){
		var text
		if(textmotif.value != ''){
    		if (motif.value){
    			text = motif.value + '\n' +textmotif.value;
    		}else{
    			text = textmotif.value;
    		}
    		motif.value = text;
		}
	}
	
	var textmotif = document.getElementById('textmotif');
	var motif = document.getElementById('motif');

	textmotif.addEventListener("change", Remplissage); 
}
</script>
{% endblock %}
