{% extends 'base.html.twig' %}
{% form_theme formPatient 'bootstrap_4_layout.html.twig' %}

{% block body %}

{% if editMode %}
<h1>Modifiquation d'une fiche patient!!!</h1>
	{% else %}
<h1>Création d'une fiche patient!!!</h1>
	{% endif %}
 
{{ form_start(formPatient) }}		{# Début du formulaire #}

{{ form_row(formPatient.nom, {'attr' : {'placeholder' : "Nom du patient"}}) }}	{# Rend la ligne d'origine #}
{{ form_row(formPatient.prenom, {'attr' : {'placeholder' : "Prénom du patient"}}) }}
{{ form_row(formPatient.dateDeNaissance, {'attr' : {'placeholder' : "Date de naissance"}}) }}

<button type="submit" class="btn btn-success">
	{% if editMode %}
	Modifier la fiche patient
	{% else %}
	Ajouter une fiche patient
	{% endif %}
</button>

{{ form_end(formPatient) }}		{# Fin du formulaire #}
{% endblock %}
