{% extends 'base.html.twig' %}
{% form_theme formPatient 'bootstrap_4_layout.html.twig' %}

{% block body %}
<div class="form-app">
	{% if editMode %}
	<h1 class="center">Modification d'une fiche patient!</h1>
	{% else %}
	<h1 class="center">Création d'une fiche patient!</h1>
	{% endif %}

	{% set ant = "parents avec forte amétropie ou strabisme, hospitalisation néonatale, prématurité, poids de naissance < 1500g, séroconversion de la toxoplasmose pendant la grossesse, atteinte vasculaire, maladie rare" %}
	{% set auBilan = "Orthophonique, Psychomoteur, Psychométrique, Neuro-psychologique, d'Ergothérapue, Posturologique" %}

	{{ form_start(formPatient) }}
	{# Début du formulaire #}

	{{ form_row(formPatient.nom, {'attr' : {'placeholder' : "Nom du patient"}}) }}
	{# Rend la ligne d'origine #}
	{{ form_row(formPatient.prenom, {'attr' : {'placeholder' : "Prénom du patient"}}) }}
	{{ form_row(formPatient.dateDeNaissance, {'attr' : {'placeholder' : "Date de naissance"}}) }}
	{{ form_row(formPatient.adresse, {'attr' : {'placeholder' : "Adresse du patient"}}) }}
	{{ form_row(formPatient.classe)}}
	{{ form_row(formPatient.optnClasse, {'attr' : {'placeholder' : "Détail de la classe"}, 'label' : "Autre options"}) }}
	{{ form_row(formPatient.antecedent, {'value' : ant, 'label' : "Antécédent"}) }}
	{{ form_row(formPatient.autreBilan, {'label' : "Autre(s) bilan(s) déjà effectué(s)", 'value' : auBilan}) }}
	{{ form_row(formPatient.charge, {'label' : "Prise en charge"}) }}
	{{ form_row(formPatient.precision, {'label' : "Précision"}) }}
	{{ form_row(formPatient.traitement, {'label' : "Traitement"}) }}
	{{ form_row(formPatient.lateralite, {'label' : "Latéralité"}) }}
	{{ form_row(formPatient.motifs, {'label' : "Motif(s) de consultation"}) }}


	<button type="submit" class="btn btn-success">
		{% if editMode %}
		Modifier la fiche patient
		{% else %}
		Ajouter une fiche patient
		{% endif %}
	</button>

	{{ form_end(formPatient) }}
	{# Fin du formulaire #}
</div>
{% endblock %}
