{% extends 'base.html.twig' %}

{% block body %}
<section class="patients">
<a href="{{ path('bilanCreate')}}" class="btn btn-success btn-lg btn-create">Ajouter un bilan</a>
		<div class="metadata">

			{{ patient.nom}}
			{{ patient.prenom}}
			{{ patient.dateDeNaissance | date('d/m/y')}}		{# Différent champ de la classe patient avec un formatage a l'aide d'un filtre #}
			{{ patient.adresse}}
			<a href="{{ path('PatientEdit', {'id': patient.id})}}" class="btn btn-primary">modifier</a>
			<a href="{{ path('patientDelete', {'id': patient.id})}}" class="btn btn-danger">supprimer</a>
		</div>

</section>
{% endblock %}