{% extends 'base.html.twig' %}

{% block titre %}
<h2 class="indicator">
	{{ patient.nom }}
	{{ patient.prenom }}
</h2>
{% endblock %}

{% block body %}

<section class="patients">
	<div class="resPatient">

		<h3>{{ patient.nom}} {{ patient.prenom}}</h3>
		<span class="defPatient"><b>Date de naissance</b> : {{ patient.dateDeNaissance | date('d/m/Y')}}</span>
		{# Différent champ de la classe patient avec un formatage a l'aide
		d'un filtre #}
		<span class="defPatient"><b>Adresse</b> : {{ patient.adresse}}</span>
		<span class="defPatient"><b>Classe</b> : {{ patient.classe }} <b>Précision</b> : {{ patient.optnClasse }}</span>
		<span class="defPatient"><b>Antécedent</b> : {{ patient.antecedent }}</span>
		<span class="defPatient"><b>Autre(s) bilan(s)</b>: {{ patient.autreBilan }}</span>
		<span class="defPatient"><b>Prise en charge</b> : {{charge[0]}}	<b>Précision</b> : {{charge[1]}}</span>
		<span class="defPatient"><b>Traitement</b> : {{ patient.traitement }}</span>
		<span class="defPatient"><b>Latéralité</b> : {{ patient.lateralite }}</span>
		<span class="defPatient"><b>Motif(s)</b> : {{ patient.motifs }}</span>
		<span class="defPatient"><b>Crée le</b> : {{ patient.createAt | date('d/m/y') }}</span>

	</div>

	<div class="btns-rightSide">
		<a href="{{ path('PatientEdit', {'id': patient.id})}}" class="btn btn-primary btn-bilan">modifier</a> 
		<a href="{{ path('patientDelete', {'id': patient.id})}}" class="btn btn-danger btn-bilan">supprimer</a>
		
		<a href="{{ path('bilanCreate', {'id': patient.id})}}" class="btn btn-success btn-lg btn-create btn-bilan">Ajouter un bilan</a> 
		<a href="{{ path('bilansPatient', {'id': patient.id})}}" class="btn btn-success btn-lg btn-create btn-bilan">Voir les bilans</a>
		
		<a href="{{ path('listeExosPatient', {'idPatient': patient.id})}}" class="btn btn-success btn-lg btn-create btn-bilan">Exercices</a>
	</div>
</section>
{% endblock %}