{% extends 'base.html.twig' %}

{% block titre %}
<a href="{{ path('patient_show', {'id': patient.id}) }}">
	<h2 class="indicator">{{ patient.nom }} {{ patient.prenom }}</h2>
</a>
{% endblock %}


{% block body %}
<section class="bilans">
	
	{% for bilan in bilans %}
		<div class="metadata">
			<a href="{{ path('bilan_show', {'idP': patient.id, 'idB': bilan.id}) }}">
    			<button type="submit" class="btn btn-outline-primary btn-patient" >
    				OD {{ bilan.od}}
    				OG {{ bilan.og}}
    			</button>
			</a>
		</div>
	{% endfor %}
	
</section>
{% endblock %}

