{% extends 'base.html.twig' %}

{% block titre %}
<a href="{{ path('patient_show', {'id': patient.id}) }}">
	<h2 class="indicator">
		{{ patient.nom }}
		{{ patient.prenom }}
	</h2>
</a>
{% endblock %}


{% block body %}
<section class="bilans">

	{% for bilan in bilans %}
	<div class="listes">
		<a href="{{ path('bilan_show', {'idP': patient.id, 'idB': bilan.id}) }}">
			<button type="submit" class="btn btn-outline-primary btn-patient">
				Bilan du {{ bilan.createAt | date('d/m/y H:i')}}
			</button>
		</a>
		{% if resultat %}
		<a href="{{ path('lancasterAffichage', {'idPatient': patient.id, 'idLancaster': resultat.id}) }}">
			<button type="submit" class="btn btn-outline-primary">
				Lancaster
			</button>
		</a>
		{% endif %}
	</div>
	{% endfor %}
</section>
{% endblock %}

