{% extends 'base.html.twig' %}

{% block title %}
Liste Appli
{% endblock %}




{% block body %}
<section class="exercices">

{% for exercice in exercices %}
	<div class="metadata">
	
    <a href="{{ path(exercice.lien)}}">
    	
   		<button type="submit" class="btn-primary" >
   		<img src="{{asset(exercice.image)}}" style="width:100px; height:100px;" > </br>
		{{ exercice.name}}
{# 		{{ patient.prenom}}#}
{#         {{ patient.birthdate | date('d/m/y')}}		{# Différent champ de la classe patient avec un formatage a l'aide d'un filtre #}	
</button>
</a>
</div>
{% endfor %}

</section>
{% block javascripts %}
<script>	
	var header = document.getElementById("change-active");
	var btns = document.body.querySelectorAll("li");
    btns[0].className = "nav-item change-item";
    btns[2].className = "nav-item active change-item"
</script>
{% endblock %}
{% endblock %}