{% extends 'baseExos.html.twig' %}

{% block title %}
Liste Appli
{% endblock %}




{% block body %}
{% block javascripts %}<script src="/JS/listeExos.js"></script>{% endblock %}
<section class="exercices">

{% for exercice in exercices %}
	{% if patient %}
    <a id="id" href="{{ path(exercice.lien, {'idPatient': patient.id})}}" aria-label="{{ exercice.name }} : {{ exercice.description }}">
    {% else %}
    <a id="id" href="{{ path(exercice.nom)}}" aria-label="{{ exercice.name }} : {{ exercice.description }}">
    {% endif %}
   		<img class="btn-logo" src="{{asset(exercice.image)}}" alt="{{ exercice.name }}">
	</a>
{# </div>#}
{% endfor %}

</section>
{# {% block javascripts %}#}
{# <script>	#}
{# 	var header = document.getElementById("change-active");#}
{# 	var btns = document.body.querySelectorAll("li");#}
{#     btns[0].className = "nav-item change-item";#}
{#     btns[2].className = "nav-item active change-item"#}
{# </script>#}
{# {% endblock %}#}
{% endblock %}