{% extends 'base.html.twig' %}


{% block body %}

	<div class ="center">
    	<h1>Validation Page</h1>
		<h3>
			Êtes vous sur de supprimer
			{% if patient %}
				{{patient.nom}} {{patient.prenom}}
			
			{% else %}
				{{user.username}}
			{% endif %}
		</h3>

		{{ form_start(action) }}
		{{ form_end(action) }}

	</div>
{% endblock %}