<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no, target-densitydpi=device-dpi">
<title>{% block title %}jeux{% endblock %}</title>
{% block stylesheets %}
<link rel="stylesheet" href="\CSSFiles\stylesbootswatch.css">
<link rel="stylesheet" href="\CSSFiles\app.css">
<link rel="stylesheet" href="\CSSFiles\allfontawesome.css">
<link rel="stylesheet" href="\CSSFiles\exercice.css">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
{% endblock %}
</head>
<body>

		<div class="nav">
		<br>
{#   		<div><a href="#"><i class="fas fa-question-circle logo" style="font-size:40px;"></i></a></div>#}
  		{% if bool %}

  			{% if patient %}
  				<div><a href="{{ path('patient_show',{'id' : patient.id }) }}"><i class="fas fa-door-open logo" style="font-size:40px;"></i></a></div><br><br>
  				<p><span id="patient">{{ patient.nom }} {{ patient.prenom }}</span></p>
  			{% else %}
  		  		<div><a href="{{ path('patients') }}"><i class="fas fa-door-open logo" style="font-size:40px;"></i></a></div><br><br>
  		  		<p><span id="patient">Sans patient</span></p>
  			{% endif %}

  		{% elseif patient %}
  		<div><a href="{{ path('listeExosPatient',{'idPatient' : patient.id }) }}"><i class="fas fa-door-open logo" style="font-size:40px;"></i></a></div><br><br>
  		<p><span id="patient">{{ patient.nom }} {{ patient.prenom }}</span></p>
  		<p><span id="exercice">{{ Exercice.name }}</span></p>
  		{% else %}
  		<div><a href="{{ path('listeExos') }}"><i class="fas fa-door-open logo" style="font-size:40px;"></i></a></div><br><br><br><br>
  		<p><span id="patient">Sans patient</span></p>
  		<p><span id="exercice">{{ Exercice.name }}</span></p>
  		{% endif %}

        <p><label>Enregistrer</label></p>
        <input id="enregistrement" type="checkbox" {% if  patient %} checked {% endif %} id="scales" name="Enregistrer">
        
	</div>
	<div id="application">
		{% block body %}{% endblock %}
	</div>
	
</body>
</html>