<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no, target-densitydpi=device-dpi">
<title>{% block title %}jeux{% endblock %}</title>
{% block stylesheets %}
<link rel="stylesheet" href="\CSSFiles\stylesbootswatch.css">
<link rel="stylesheet" href="\CSSFiles\app.css">
<link rel="stylesheet" href="\CSSFiles\allfontawesome.css">
<link rel="stylesheet" href="\CSSFiles\exercice.css">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
{% endblock %}
</head>
<body>

		<div class="nav">
		<br>
{#   		<div><a href="#"><i class="fas fa-question-circle logo" style="font-size:40px;"></i></a></div>#}
  		{% if bool %}
  			{% if Patient %}
  				<div><a href="{{ path('patient_show',{'id' : Patient.id }) }}"><i class="fas fa-door-open logo" style="font-size:40px;"></i></a></div><br><br>
  				<p><span id="Patient">{{ Patient.nom }} {{ Patient.prenom }}</span></p>
  			{% else %}
  		  		<div><a href="{{ path('patients') }}"><i class="fas fa-door-open logo" style="font-size:40px;"></i></a></div><br><br>
  		  		<p>Sans Patient</p>
  			{% endif %}
  		{% elseif Patient %}
  		<div><a href="{{ path('listeExosPatient',{'idPatient' : Patient.id }) }}"><i class="fas fa-door-open logo" style="font-size:40px;"></i></a></div><br><br>
  		<p><span id="idExercice">{{ Exercice.name }}</span></p>
  		<p><span id="idPatient">{{ idPatient }}</span></p>
  		
  		{% else %}
  		<div><a href="{{ path('listeExos') }}"><i class="fas fa-door-open logo" style="font-size:40px;"></i></a></div><br><br>
  		<p><span id="idExercice">{{ Exercice.name }}</span></p>
  		<p>Sans Patient</p>
  		{% endif %}
{#   		<p>#}
{# 	        Orthop : <span id="idUser">{{ idUser }}</span>#}
{#         </p>#}
        
        <br>
        <label><p>Enregistrer</p></label>
        <input id="enregistrement" type="checkbox" {% if  Patient != 0 %} checked {% endif %} id="scales" name="Enregistrer">
        
	</div>
	<div id="application">
		{% block body %}{% endblock %}
	</div>
	
</body>
</html>